# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.

# Editor and misc backup files - anywhere
*~
.*~
.*.swp
*.bak
*.bak[0-9][0-9]
\#*\#

# File-browser settings - anywhere
.directory

# CVS recovered versions - anywhere
.#*

# Objects and archives - anywhere
*.[oa]
*.la
*.so

# Derived files
lex.yy.c

# Dependency files - anywhere
*.dep

# lnInclude (symlink) directories - anywhere
lnInclude

# Build directories - anywhere
linux*Clang*/
linux*Gcc*/
linux*Icc*/
solaris*Gcc*/
SunOS*Gcc*/
platforms/

# Source packages - anywhere
*.tar.bz2
*.tar.gz
*.tar
*.tgz
*.gtgz

